apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
# Следующие строки применимы в рамках задачи по kubernertes начиная с 7 пункта как один из вариантов применения cm
#        volumeMounts:
#        - name: config
#          mountPath: /etc/nginx/conf.d
#
#      volumes:
#      - name: config
#        configMap:
#          name: my-configmap
# Следующие строки применимы в рамках задачи по kubernertes начиная с 9 пункта
#        volumeMounts:
#        - name: index_file
#          mountPath: /tmp
#
#      volumes:
#      - name: index_file
#        hostPath:
#          path: /test

---

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
      
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-configmap
data:
  default.conf: |
    server {
        listen       80 default_server;
        server_name  _;

        default_type text/plain;

        location / {
            return 200 '$hostname\n';
        }
    }

